* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #111;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.btn {
    background: black;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
}

/* Hero */
.hero {
    width: 90%;
    margin: 30px auto;
    position: relative;
}

.hero img {
    width: 100%;
    border-radius: 15px;
}

.info-cards {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    background: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    min-width: 200px;
}

/* Content */
.content {
    width: 70%;
    margin: 100px auto;
}

.content h2 {
    margin: 30px 0 10px;
}

/* Projects */
.projects {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.projects h1 {
    margin-bottom: 40px;
    font-size: 36px;
}

.project-grid {
    display: flex;
    gap: 20px;
}

.project {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
.footer {
    background: black;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.footer input {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.footer button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    
}